$icons-font-path: '/node_modules/semantic-ui-sass/icons';
$flags-image-path: '/node_modules/semantic-ui-sass/images';

@import "~semantic-ui-sass/semantic-ui.scss";

.background {
  position: relative;
  height: 100%;
  color: #fff;

  /*
  background: linear-gradient(-45deg, #EE7752, #EE7752, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
  */

  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  .logo {
    svg path {
      fill: white
    }
  }
}

@media only screen and (min-width: 1500px) {
  .ui.container {
    width: 1500px;
  }
}

#app {
  height: 100%;
}

.container {
  padding: 5rem 0;
}

.capitalize {
  text-transform: capitalize;
}

/* Table */
.ui.table {
  tr {
    &:nth-child(1) td .icon {color: rgba(255,255,255,1)}
    &:nth-child(2) td .icon {color: rgba(255,255,255,.5)}
    &:nth-child(3) td .icon {color: rgba(255,255,255,.2)}
    td {
      padding: 1rem 2rem !important;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
  }

  .ui.header > img + .content, .ui.header > .image + .content {
    padding-left: 2rem;
  }
  .ui.header {
    color: white;
  }
  h1 {
    font-size: 2.5rem;
    i {
      color: rgba(255,255,255,.5);
    }
  }
  h2.ui.header {
    font-size: 2.5rem;

    .sub.header {
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 1.8rem;
      color: rgba(255,255,255,.5);
    }
  }
}

/* Modal */
.ui.modal {
  background: transparent;
  box-shadow: none;

  .content {
    background: transparent;
    .subtext {
      font-size: 4rem;
      color: rgba(255,255,255,.5);
    }
  }

  h1 {
    font-size: 4.5rem;
  }

  .ui.header > .icon + .content {
    padding-left: 2rem;
  }

  .ui.header > img + .content, .ui.header > .image + .content {
    padding-left: 2rem;
  }
}

/*
@media only screen and (min-width: 1200px) {
  .ui.large.modal {
    width: 1400px;
    margin-left: -700px
  }
}
*/


.ui.dimmer {
  &--drink {
    background: url('/public/drink.jpg') no-repeat center center/cover;
  }
}