$icons-font-path: '/node_modules/semantic-ui-sass/icons';
$flags-image-path: '/node_modules/semantic-ui-sass/images';

@import "~semantic-ui-sass/semantic-ui.scss";

.background {
  position: relative;
  background: #222;
  height: 100%;

  .logo {
    position: absolute;
    right: 50px;
    bottom: 50px;

    svg path {
      fill: white
    }
  }
}

#app {
  height: 100%;
}

.container {
  padding: 5rem 0;
}

/* Table */
table.table {
  h1, h2, h3, h4, h5, .ui.header .content, .ui.header .sub.header {
    color: white;
  }
  .ui.header .sub.header {
    color: rgba(255,255,255, .6);
  }
  h3 {
    display: inline-block;
    margin-right: 1rem;
    color: rgba(255,255,255, .5);
  }

}

/* Modal */
.ui.dimmer {
  opacity: 1;
}
.ui.modal {
  background: transparent;

  .content {
    background: transparent;
  }
}

.ui.icon.header {
  display: block;
}

h1.ui.header {
  font-size: 4rem;
}