$icons-font-path: '/node_modules/semantic-ui-sass/icons';
$flags-image-path: '/node_modules/semantic-ui-sass/images';

@import "~semantic-ui-sass/semantic-ui.scss";

.background {
  position: relative;
  height: 100%;
  color: #fff;

  background: linear-gradient(-45deg, #EE7752, #EE7752, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;

  .logo {
    position: absolute;
    right: 70px;
    bottom: 50px;

    svg path {
      fill: white
    }
  }
}

@media only screen and (min-width: 1500px) {
  .ui.container {
    width: 1500px;
  }
}

#app {
  height: 100%;
}

.container {
  padding: 5rem 0;
}

.capitalize {
  text-transform: capitalize;
}

/* Table */
.ui.table {
  tr {
    &:nth-child(1) {background: rgba(255,255,255,.3)}
    &:nth-child(2) {background: rgba(255,255,255,.2)}
    &:nth-child(3) {background: rgba(255,255,255,.1)}
    td {
      padding: 1.5rem 3rem !important;
      border: none;


    }
  }

  .ui.header {
    color: white;
  }
  h1 {
    font-size: 2.5rem;
    i {
      color: rgba(255,255,255,.5);
    }
  }
  h2.ui.header {
    font-size: 2.5rem;

    .sub.header {
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 1.8rem;
      color: rgba(255,255,255,.6);
    }
  }
}

/* Modal */
.ui.modal {
  background: transparent;
  box-shadow: none;

  .content {
    background: transparent;
    .subtext {
      font-size: 3rem;
      line-height: 4rem;
      color: rgba(255,255,255,.5);
    }
  }

  h1 {
    font-size: 4.5rem;
  }

  .ui.header > .icon + .content {
    padding-left: 2rem;
  }
}

.ui.dimmer {
  opacity: 1;
}

/* Anims */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}